<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @evento.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @evento.descripcion %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @evento.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @evento.fecha_fin %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
